# Forcer la détection du langage principal
# Considérer les fichiers .qmd comme du R
*.qmd linguist-language=R
*.R linguist-detectable
*.html linguist-ignore
*.js linguist-ignore

# Ignorer les fichiers binaires ou statiques
*.png linguist-ignore
*.jpg linguist-ignore
*.jpeg linguist-ignore
*.gif linguist-ignore
*.pdf linguist-ignore
*.csv linguist-ignore
*.xlsx linguist-ignore
*.html linguist-ignore

# Traiter les fichiers spécifiques comme détectables
data/*.csv linguist-detectable
